@import "../common/mixin";
@import "../common/variable";
@import "../common/animation";
@import "../components/button";
$menuNum: 6;

.banner{
    @include image($url:"../images/main/bg.jpg",$pos:center 20px,$size:cover,$rep:no-repeat);
    @include flex($jusCon:center,$aliItem:flex-end);
    width: 100vw;
    height: 100vh;
    .banner__container{
        @include grid($tCol:repeat(12,1fr),$tRow:64px,$cGap:20px,$jusCon:center);
        width: 80%;
        height: calc(100% - 170px);
        max-width: 1000px;
        margin: 0 auto;
        transition: 0.3s;
    }
}
.banner__nav{
    @include border($radius:0 0 10px 10px,$shadow: 0 3px 3px $opBlack-2);
    background-color: $purple;
    grid-column: 1/13;
    grid-row: 1;
    ul{
        @include flex($jusCon:space-around,$aliItem:center);
        height: 100%;

        li{
            position: relative;
            width: 100px;
            height: 100%;
            opacity: 0;
            animation: fade-left 1s ease forwards;
            @for $i from 1 to $menuNum {
                &:nth-child(#{$i}){
                    animation-delay: $i * 0.25s;
                }
            }
            a{
                @include flex($jusCon:center,$aliItem:center);
                @include font($size:15px,$color:$white-1,$align:center,$letter:1.2px,$family:SCD4);
                position: relative;
                padding: 0 20px;
                width: 100%;
                height: 100%;
                transition: 0.3s;
                &::before{
                    @include position($pos:absolute,$b:10px,$l:0);
                    content: "";
                    display: block;
                    width: 0;
                    height: 1.5px;
                    transition: 0.3s;
                    background-color: $white-1;
                }
                &:hover{
                    opacity: 0.5;
                    &::before{
                        width: 100%;
                    }
                }
            }
        }
    }
}
.banner__content{
    @include flex($dir:column,$jusCon:space-between,$aliSelf:center);
    @include border($radius:10px,$shadow:15px 30px 30px $opBlack-5);
    position: relative;
    padding: 37px;
    background-color: $white-1;
    grid-column: 1/5;
    height: 60%;
    opacity: 0;
    animation: fade-up 1s ease forwards;
    animation-delay: 1.2s;
    color: $black;
    h4{
        @include font($size:20px,$letter:2px,$family:TmonBold,$transform:uppercase);
    }
    p{
        @include font($size:13px,$height:23px,$family:SCD4);
    }
    .banner__content__link{
        @include flex($dir:row,$jusCon:space-between,$aliItem:center);
        width: 100%;
        a{
            @include flex($jusCon:center,$aliItem:center);
            position: relative;
            box-shadow: 2px 3px 5px $opBlack-3;
            span{
                @include position($pos:absolute,$z:10);
                @include font($size:12px,$letter:1.1px,$transform:uppercase,$family:SCD4,$weight:600);
            }
            &:first-child{
                @include button($kind:"defaultBtn",$width:48%,$height:30px,$bgC:$purple,$color:$white-1);
            }
            &:last-child{
                @include button($kind:"borderBtn",$width:48%,$height:30px,$bgC:$purple,$color:$black);
            }
        }
    }
}