@import "../common/mixin";
@import "../common/variable";
@import "../common/animation";
@import "../components/button";
$menuNum: 6;

.banner{
    @include image($url:"../images/main/bg.jpg",$pos:top 20px,$size:cover,$rep:no-repeat);
    @include flex($jusCon:center,$aliItem:flex-end);
    @include position($pos:fixed,$l:0,$t:0,$z:10);
    z-index: 10;
    width: 100vw;
    height: 100vh;
    .banner__container.show{
        height: calc(100% - 170px);
    }
    .banner__container.hide{
        height: calc(100% - 120px);
    }
    .banner__container{

        @include responsive("tablet"){
            @include grid($tCol:repeat(6,1fr),$tRow:64px,$cGap:20px,$jusCon:center);
            height: calc(100% - 120px);
        }
        @include responsive("iphone"){
            @include grid($tCol:repeat(6,1fr),$tRow:none,$cGap:20px,$jusCon:center,$aliItem:center);
            width: 90%;
        }
        @include grid($tCol:repeat(12,1fr),$tRow:64px,$cGap:20px,$jusCon:center);
        width: 80%;
        height: calc(100% - 170px);
        max-width: 1000px;
        margin: 0 auto;
        transition: 0.3s;
    }
}
.banner__nav{
    @include responsive("iphone"){
        display: none;
    }
    @include border($radius:0 0 10px 10px,$shadow: 0 3px 3px $opBlack-2);
    background-color: $purple;
    grid-column: 1/-1;
    grid-row: 1;
    .menu{
        @include flex($jusCon:space-around,$aliItem:center);
        height: 100%;
        .menu__item.fade{
            @include fade($kind:"fade-left");
            position: relative;
            @for $i from 1 to $menuNum {
                &:nth-child(#{$i}){
                    animation-delay: $i * 0.25s;
                }
            }
        }
        .menu__item{
            width: 100px;
            height: 100%;
            opacity: 0;
            
            a{
                @include flex($jusCon:center,$aliItem:center);
                @include font($size:15px,$color:$white-1,$align:center,$letter:1.2px,$family:SCD4);
                position: relative;
                padding: 0 20px;
                width: 100%;
                height: 100%;
                transition: 0.3s;
                
                &::before{
                    @include position($pos:absolute,$b:10px,$l:0);
                    content: "";
                    display: block;
                    width: 0;
                    height: 1.5px;
                    transition: 0.3s;
                    background-color: $white-1;
                }
                &:hover{
                    opacity: 0.5;
                    &::before{
                        width: 100%;
                    }
                }
            }
        }
    }
}
.banner__content.fade{
    @include fade($kind:"fade-up");
    position: relative;
    animation-delay:1.2s;
}
.banner__content{
    @include responsive("tablet-l"){
        grid-column: 1/6;   
        height: 65%;
    }
    @include responsive("tablet"){
        grid-column: 1/5;
    }
    @include responsive("iphone-l"){
        height: 50%;
    }
    @include flex($dir:column,$jusCon:space-between,$aliSelf:center);
    @include border($radius:10px,$shadow:15px 30px 30px $opBlack-5);
    grid-column: 1/5;
    padding: 37px;
    background-color: $white-1;
    height: 60%;
    opacity: 0;
    color: $black;
    h4{
        @include font($size:20px,$letter:2px,$family:TmonBold,$transform:uppercase);
    }
    p{
        @include responsive("tablet-l"){
            line-height: 20px;
        }
        @include font($size:13px,$height:23px,$family:SCD4,$break:keep-all);
    }
    .banner__content__link{
        @include responsive("tablet"){
            flex-direction: column;
        }
        @include flex($dir:row,$jusCon:space-between,$aliItem:center);
        width: 100%;
        a{
            @include flex($jusCon:center,$aliItem:center);
            position: relative;
            box-shadow: 2px 3px 5px $opBlack-3;
            span{
                @include position($pos:absolute,$z:10);
                @include font($size:12px,$letter:1.1px,$transform:uppercase,$family:SCD4,$weight:600);
            }
            &:first-child{
                @include responsive("tablet"){
                    width: 100%;
                    height: 35px;
                    margin-bottom: 10px;
                }
                @include button($kind:"defaultBtn",$width:48%,$height:30px,$bgC:$purple,$color:$white-1);
            }
            &:last-child{
                @include responsive("tablet"){
                    width: 100%;
                    height: 35px;
                }
                @include button($kind:"borderBtn",$width:48%,$height:30px,$bgC:$purple,$color:$black);
            }
        }
    }
}