@import "../common/mixin";
@import "../common/variable";
@import "../common/animation";
@import "../components/button";
@import "../components/title";
@import "../components/bgText";

.kind {
    width: 100vw;
    height: auto;
    position: relative;
    .kind__container {
        @extend %kindContainer;
    }
    .bgText {
        @include responsive("tablet") {
            top: 17%;
            left: 50%;
            transform: translateX(-50%);
        }
        @include bgText($t:20%,$l:-45px);
    }
}
.kind__title.fade {
    @include fade($kind:"fade-in");
    position: relative;
}
.kind__title {
    @include title;
    opacity: 0;
}
.kind__content {
    @include responsive("tablet") {
        @include grid($tCol:repeat(6,1fr),$cGap:20px);
    }
    @include grid($tCol:repeat(12,1fr),$cGap:20px);
    grid-column: 1/-1;
    .kind__card.fade {
        @include fade($kind:"fade-left");
        @for $i from 1 to 4 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 0.25s;
            }
        }
        position: relative;
        opacity: 0;

    }
    .kind__card {
        @include responsive("tablet"){
            margin-bottom: 50px;
        }
        @include flex($dir:column,$jusCon:space-between);
        width: 100%;

        .kind__card__img {
            position: relative;
            width: 100%;
            .kind__img {
                @include responsive("tablet"){
                    height: 300px;
                }
                @include responsive("iphone"){
                    height: 100%;
                }
                width: 100%;
                height: 200px;
                border-radius: 0 15px 0 15px;
            }
            .kind__img__text {
                @include responsive("tablet"){
                    margin-bottom: 0.1%;
                }
                @include responsive("tablet-l") {
                    width: 70%;
                    margin-bottom: 0.5%;
                }
                @include flex($jusCon:center,$aliItem:center);
                @include position($pos:absolute,$b:0,$l:0);
                background-color: $purple;
                width: 50%;
                height: 15%;
                border-radius: 0 15px 0 15px;
                margin-bottom: 0.5%;
                span {
                    @include responsive("tablet"){
                        font-size: 17px;
                    }
                    @include responsive("tablet-l") {
                        font-size: 12px;
                    }
                    @include font($size:13px,$letter:1.2px,$color:$white-1,$transform:uppercase,$family:SCD4,$break:keep-all);
                }
            }
        }
        .kind__card__content {
            justify-self: flex-start;
            height: 100%;
            margin: 20px 0;
            h3 {
                @include font($size:20px,$letter:1.2px,$family:SCD8);
                padding-bottom: 10px;
            }
            p {
                @include font($size:14px,$letter:0.5px,$height:25px,$family:SCD4);
            }
        }
        .kind__card__link {
            @include button($kind:"textBtn");
            align-self: flex-start;
        }
        &:nth-child(1) {
            @include responsive("tablet") {
                grid-column: 1/-1;
            }
            grid-column: 1/5;
        }
        &:nth-child(2) {
            @include responsive("tablet") {
                grid-column: 1/-1;
            }
            grid-column: 5/9;
        }
        &:nth-child(3) {
            @include responsive("tablet") {
                grid-column: 1/-1;
            }
            grid-column: 9/13;
        }
    }
}
