@import "../common/mixin";
@import "../common/variable";

.trend{
    width: 100vw;
    height: auto;
    background-color: $lightPurple;
    .trend__container{
        @include grid($tCol:repeat(12,1fr),$jusCon:center,$aliItem:center);
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 100px 0;
    }
}
.trend__title{
    grid-column: 1/8;
    p{
        span{
            color: $purple;
        }
    }
}
.trend__content{
    @include flex($dir:column,$jusCon:center,$aliItem:center);
    grid-column: 8/13;
    .trend__img{
        display: block;
        width: 100%;
        height: 250px;
        background-color: $black;
        border-radius: 15px;
    }
}