@import "../common/mixin";
@import "../common/variable";
@import "../components/button";

.trend{
    width: 100vw;
    height: auto;
    background-color: $lightPurple;
    .trend__container{
        @include grid($tCol:repeat(12,1fr),$jusCon:center,$aliItem:center);
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 100px 0;
    }
}
.trend__title{
    @include flex($dir:column,$jusCon:center);
    grid-column: 1/8;
    font-family: TmonBold;
    height: 100%;
    p{
        @include font($size:2rem,$letter:1px);
        margin-bottom: 32px;
        span{
            margin-right: 12px;
            color: $purple;
        }
    }
    strong{
        @include font($size:8.25rem,$letter:10px);
    }
}
.trend__content{
    @include flex($dir:column,$jusCon:center,$aliItem:center);
    grid-column: 8/13;
    .trend__img{
        @include image($url:"../images/common/trend.png",$pos:center,$size:cover,$rep:no-repeat);
        width: 100%;
        height: 250px;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    .trend__link{
        @include button($kind:"textBtn");
    }
}