@import "../common/mixin";
@import "../common/variable";
@import "../common/animation";
@import "../components/button";
@import "../components/title";
@import "../components/bgText";
@import "../components/videoCard";

.video{
    width: 100vw;
    height: auto;
    position: relative;
    .video__container{
        @extend %videoContainer;
    }
    .video__title.fade{
        @include fade($kind:"fade-in");
        animation-delay: 0.25s;
    }
    .video__title{
        @include title;
        opacity: 0;
    }
    .video__site{
        @include position($pos:relative);
        @include videoCard;
        @include flex($jusCon:space-around,$aliItem:center,$wrap:wrap);
        grid-column: 1/-1;
        width: 100%;
        transition: 0.3s;
    }
}