script(src="./js/all.js")

script(type="text/javascript" src="//wcs.naver.net/wcslog.js")
script(type="text/javascript").
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "7226d66a973dbc";
    if(window.wcs) {
        wcs_do();
    }