@import "../common/mixin";
@import "../common/variable";

@mixin input($width:null,$height:null,$padding:null) {
    @include font($size:15px,$color:$black,$family:SCD4);
    @include border($border:none,$radius:5px,$shadow:0 0 3px $opBlack-2);
    width: $width;
    height: $height;
    padding: $padding;
    &::placeholder{
        @include font($size:15px,$color:$gray,$family:SCD4,$letter:10px);
    }
    &:focus{
        @include border($color:$purple,$shadow: 0 0 3px $purple);
        outline: none !important;
    }
}