    // break point
$maxIphone: 475px;
$maxIphone-l: 719px;
$maxTablet: 768px;
$maxTablet-l: 1024px;
$minPC: 1250px;

// color variable
$white      :       #FFF8FF;
$black      :       #3D3D3D;
$black-1    :       #1b1b1b;
$gray       :       #636E72;
$gray-1     :       #B2BEC3;
$blue       :       #6C5CE7;
$blue-1     :       #A29BFE;
