@import "../common/mixin";
@import "../common/variable";

@mixin title{
    @include flex($dir:column,$jusCon:center,$aliItem:center);
    grid-column: 1/-1;
    padding-bottom: 70px;
    h3{
        @include font($size:3rem,$letter:1.2px,$weight:bold);
        padding-bottom: 10px;
    }
    p{
        @include font($size:17px,$letter:0.5px,$color:$gray);
    }
}