//- mainPage Variable
-mainTitle = "MaruDepth - A useful video recommended by Maru";
-mainDescription = "MaruDepth main page. 디자인, 개발, 과제 등 유용한 사이트들이 모여져 있는 사이트입니다. maru가 추천하는 유용한 사이트!";

//- text Variable
-navigationText = ["HOME","About","Video","Contact","Admin"];

-bannerContentText="디자인과 개발을 공부할 때 유용한 사이트 및 디자인과 개발 분야가 아니더라도 자료 조사를 쉽게 할 수 있는 사이트와 PPT를 쉽게 만들 수 있게 도와주는 사이트 등을 올려드리고 있습니다!";

