script(src="./js/scroll.js")
script(src="./js/animation.js")
script(src="./js/hamburger.js")
script(src="./js/filter.js")
script(src="./js/search.js")

script(
    type="text/javascript"
    src="//wcs.naver.net/wcslog.js")
script.
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "7226d66a973dbc";
    if(window.wcs) {
        wcs_do();
    }