include ../common/mixin
include ../common/variable

section.banner
    .banner__container
        nav.banner__nav
            ul
                li
                    a(href="#") HOME
                li
                    a(href="#") About
                li
                    a(href="#") Video
                li
                    a(href="#") Contact
                li
                    a(href="#") Admin
        .banner__content
            h4 maru depth
            p 디자인과 개발을 공부할 때 유용한 사이트 및 디자인과 개발 분야가 아니더라도 자료 조사를 쉽게 할 수 있는 사이트와 PPT를 쉽게 만들 수 있게 도와주는 사이트 등을 올려드리고 있습니다!
            .banner__content__link
                a(href="#") 
                    span about
                a(href="#")
                    span video