include ../common/mixin
include ../common/variable

section.banner
    .banner__container
        nav.banner__nav
            ul.menu
                each item in navigationText
                    li.menu__item
                        a(href="./"+item+".html")= item

        .banner__content
            h4 maru depth
            p= bannerContentText
            .banner__content__link
                a(href="./about.html") 
                    span about
                a(href="./video.html")
                    span video