include ../common/mixin
include ../common/variable

section.banner
    .banner__container
        nav.banner__nav
            ul
                li
                    a(href="#") HOME
                li
                    a(href="#") About
                li
                    a(href="#") Video
                li
                    a(href="#") Contact
                li
                    a(href="#") Admin
        .banner__content
            h4 maru depth
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quos doloribus sint iste veritatis, praesentium laborum amet error alias necessitatibus!
            a(href="#") about
            a(href="#") video