include ../common/mixin
include ../common/variable

section.banner
    .banner__container
        nav.banner__nav
            ul
                each item in navigationText
                    li
                        a(href="./"+item+".html")= item

        .banner__content
            h4 maru depth
            p= bannerContentText
            .banner__content__link
                a(href="#") 
                    span about
                a(href="#")
                    span video