include ../common/mixin
include ../common/variable
include ../components/input

header.header
    .header__info
        .header__info__container
            ul.header__contact
                +headerItem("contact","call","010-2269-0763")
                +headerItem("contact","mail","marudev4905@gmail.com")
            ul.header__sns
                +headerItem("sns","kakao","kakaotalk","https://open.kakao.com/o/sWmoRNBb")
                +headerItem("sns","instagram","instagram","https://www.instagram.com/maru_dev49/?hl=ko")
                +headerItem("sns","facebook","facebook","https://www.facebook.com/profile.php?id=100016921872562")
                +headerItem("sns","github","github","https://github.com/maru-dev4905")
    .header__surf
        .header__surf__container
            h1.logo
                a(href="./index.html")
                    img(src="./images/logo/logo.png", alt="marudepth-logo")
            +input("search")
    include ../components/nav
