include ../common/mixin
include ../common/variable

section.kind
    .kind__container
        .kind__title
            h2 Useful Site
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .kind__content
            article.kind__card
                .kind__card__img
                    img.kind__img(src="./images/common/design-img.png", alt="design-img")
                    .kind__img__text
                        span design
                .kind__card__content
                    h3 Lorem ipsum dolor sit amet.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis animi enim natus, nesciunt eaque cupiditate explicabo commodi accusantium eius corrupti fuga. Nihil delectus natus maiores nesciunt quo neque ea harum?
                .kind__card__link
                    a(href="#") Go to Video!
            article.kind__card
                .kind__card__img
                    img.kind__img(src="./images/common/programming-img.png", alt="programming-img")
                    .kind__img__text
                        span design
                .kind__card__content
                    h3 Lorem ipsum dolor sit amet.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis animi enim natus, nesciunt eaque cupiditate explicabo commodi accusantium eius corrupti fuga. Nihil delectus natus maiores nesciunt quo neque ea harum?
                .kind__card__link
                    a(href="#") Go to Video!
            article.kind__card
                .kind__card__img
                    img.kind__img(src="./images/common/useful-img.png", alt="useful-img")
                    .kind__img__text
                        span design
                .kind__card__content
                    h3 Lorem ipsum dolor sit amet.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis animi enim natus, nesciunt eaque cupiditate explicabo commodi accusantium eius corrupti fuga. Nihil delectus natus maiores nesciunt quo neque ea harum?
                .kind__card__link
                    a(href="#") Go to Video!