include ../common/mixin
include ../common/variable

section.kind
    .kind__container
        .kind__title
            h2 Useful Site
            p Don't abuse it and use it wisely!
        .kind__content
            +kindCard("#","design-img","design",kindDesignTitle,kindDesignText)
            +kindCard("#","programming-img","programming",kindDevTitle,kindDevText)
            +kindCard("#","useful-img","design",kindUsefulTitle,kindUsefulText)
            
    span.bgText useful