include ../common/mixin
include ../common/variable

section.kind
    .kind__container
        .kind__title
            h2 Useful Site
            p Don't abuse it and use it wisely!
        .kind__content
            article.kind__card
                .kind__card__img
                    img.kind__img(src="./images/common/design-img.png", alt="design-img")
                    .kind__img__text
                        span design
                .kind__card__content
                    h3 디자인 관련 사이트
                    p 디자인을 배우시거나 디자인을 현업으로 사용하시거나 디자인 툴을 사용하시는 분들깨 유용한 사이트들을 모아봤습니다. 이 사이트들은 무료 아이콘, 무료 이미지, 팔레트, 그라데이션, 무료 로고 설치 사이트, 포토샵과 비슷한 무료 사이트 등 유용한 사이트들입니다.
                .kind__card__link
                    a(href="#") Go to Site!
            article.kind__card
                .kind__card__img
                    img.kind__img(src="./images/common/programming-img.png", alt="programming-img")
                    .kind__img__text
                        span programming
                .kind__card__content
                    h3 개발 관련 사이트
                    p 개발을 배우시거나 개발을 협업으로 사용하시거나 개발을 막 시작하신 분들께 유용한 사이트 들을 모아봤습니다. 이 사이트들은 px to rem, 개발 공부 관련 사이트, 코딩 테스트 등 유용한 사이트들 입니다.
                .kind__card__link
                    a(href="#") Go to Site!
            article.kind__card
                .kind__card__img
                    img.kind__img(src="./images/common/useful-img.png", alt="useful-img")
                    .kind__img__text
                        span useful
                .kind__card__content
                    h3 굉장히 유용한 사이트
                    p 디자인, 개발이 아닌 다른 분야라구요? 과제가 자료조사라면 자료조사 사이트 그리고 ppt가 없다면 online ppt 사이트, 제출을 pdf로 해야한다면 파일 변환 사이트 등 유용한 사이트들을 모아봤습니다!
                .kind__card__link
                    a(href="#") Go to Site!
    span.bgText useful