include ../common/mixin
include ../common/variable

section.trend
    .trend__container
        .trend__title
            p 
                span 2020
                | Web Design
            strong Trend
        .trend__content
            a.trend__img(href="#")
            a(href="#") Go to Video!