include ../common/mixin
include ../common/variable

section.useful
    .useful__container
        .useful__summary
            .useful__summary__box
                i.summary__box__icon
                    img(src="./images/icon/design.png", alt="design-icon")
                .summary__box__content
                    strong design
                    p 디자인을 공부하시거나 디자인 작업을 하시는 분들은 이 사이트에서 무료 이미지, 무료 아이콘, 팔레트, 포토샵과 비슷한 기능들을 하는 무료 사이트 등을 보실 수 있습니다.
            .useful__summary__box
                i.summary__box__icon
                    img(src="./images/icon/programming.png", alt="design-icon")
                .summary__box__content
                    strong programming
                    p 개발을 공부하시거나 개발 작업을 하시는 분들은 이 사이트에서 기초, 개발 관련 영상, px to blabla 등 여러가지 유용한 사이트들을 보실 수 있습니다.
            .useful__summary__box
                i.summary__box__icon
                    img(src="./images/icon/useful.png", alt="design-icon")
                .summary__box__content
                    strong useful
                    p 디자인과 개발뿐이 아니더라도 다른 전공을 하시는 분들은 이 사이트에서 자료조사 사이트, 파일 변환 사이트, 온라인 ppt 사이트 등 여러가지 유용한 사이트들을 보실 수 있습니다.
        .useful__title
            h2 Summary
            p Sites frequently used by Maru!
        .useful__site
            .useful__site__box
                img.useful__img(src="./images/common/flaticon-thumbmnail.png", alt="flaticon-thumbmnail")
                .useful__site__box__content
                    h4 flaticon
                    p 무료 아이콘 설치 사이트
                a(href="#")
            .useful__site__box
                img.useful__img(src="./images/common/rempx-thumbnail.png", alt="rempx-thumbnail")
                .useful__site__box__content
                    h4 px to rem
                    p px 사이즈를 rem로 계산해주는 사이트
                a(href="#")
            .useful__site__box
                img.useful__img(src="./images/common/unsplash-thumbnail.png", alt="unsplash-thumbnail")
                .useful__site__box__content
                    h4 unsplash
                    p 무료 이미지 설치 사이트
                a(href="#")
    span.bgText summary