include ../common/mixin
include ../common/variable

section.useful
    .useful__container
        .useful__summary
            .useful__summary__box
                i.summary__box__icon
                    img(src="./images/icon/design.png", alt="design-icon")
                .summary__box__content
                    strong design
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ipsum accusantium commodi iusto, deleniti perspiciatis amet illum voluptas incidunt dolor ab eaque nemo cupiditate nisi molestias exercitationem. Doloremque, explicabo tempore!
            .useful__summary__box
                i.summary__box__icon
                    img(src="./images/icon/programming.png", alt="design-icon")
                .summary__box__content
                    strong design
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ipsum accusantium commodi iusto, deleniti perspiciatis amet illum voluptas incidunt dolor ab eaque nemo cupiditate nisi molestias exercitationem. Doloremque, explicabo tempore!
            .useful__summary__box
                i.summary__box__icon
                    img(src="./images/icon/useful.png", alt="design-icon")
                .summary__box__content
                    strong design
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ipsum accusantium commodi iusto, deleniti perspiciatis amet illum voluptas incidunt dolor ab eaque nemo cupiditate nisi molestias exercitationem. Doloremque, explicabo tempore!
        .useful__title
            h2 Summary
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, maxime.
        .useful__site
            button.useful__prev--btn
            .useful__site__box
                .useful__img
                .useful__site__box__content
                    h4 flaticon
                    p 무료 아이콘 설치 사이트
                a(href="#")
            .useful__site__box
                .useful__img
                .useful__site__box__content
                    h4 flaticon
                    p 무료 아이콘 설치 사이트
                a(href="#")
            .useful__site__box
                .useful__img
                .useful__site__box__content
                    h4 flaticon
                    p 무료 아이콘 설치 사이트
                a(href="#")
            button.useful__next--btn