include ../common/mixin
include ../common/variable
include ../components/input

section.video
    .video__container
        +sectionTitle("video","Video","Take a variety of useful information!")
        .video__site
                +input("filtering")
                include ../components/videoGroup