include ../common/mixin
include ../common/variable

section.video
    .video__container
        +sectionTitle("video","Video","Take a variety of useful information!")
        .video__site
            .video__site__rows
                    +video("flaticon","무료 아이콘 설치 사이트",flaticon)
                    +video("rempx","px to rem 계산해주는 사이트",rempx)
                    +video("unsplash","무료 이미지 설치 사이트",unsplash)
            .video__site__rows
                    +video("adobecolor","어도비 무료 색상 배합 사이트",adobecolor)
                    +video("adstore","심플, 감각적인 피피티가 많은 사이트",adstore)
                    +video("asiafont","깔끔한 폰트를 원하는 사람들에게 강력 추천",asiafont)
            .video__site__rows
                    +video("blend","그라데이션을 만들어주는 사이트",blend)
                    +video("bm","배달의 민족 폰트 사이트",bm)
                    +video("canva","웹에서 피피티를 제작 가능한 사이트",canva)
            .video__site__rows
                    +video("colorlover","색상 조합 사이트",colorlover)
                    +video("dafont","무료 폰트 설치 사이트",dafont)
                    +video("fontspace","약 30000종 이상의 영문 폰트 보유 사이트",fontspace)
            .video__site__rows
                    +video("foodpic","음식 보정 사이트",foodpic)
                    +video("gallup","설문조사 확인 사이트",gallup)
                    +video("gratisography","피피티에 포인트 주기 좋은 사진이 많은 사이트",gratisography)
            .video__site__rows
                    +video("grdnrush","브이로그에 사용하기 좋은 음악이 많은 채널",grdnrush)
                    +video("hatchful","무료 로고 만들기 사이트",hatchful)
                    +video("iconmonstr","무료 아이콘 설치 사이트",iconmonstr)
            .video__site__rows
                    +video("blend","그라데이션을 만들어주는 사이트",blend)
                    +video("bm","배달의 민족 폰트 사이트",bm)
                    +video("canva","웹에서 피피티를 제작 가능한 사이트",canva)
            .video__site__rows
                    +video("colorlover","색상 조합 사이트",colorlover)
                    +video("dafont","무료 폰트 설치 사이트",dafont)
                    +video("fontspace","약 30000종 이상의 영문 폰트 보유 사이트",fontspace)
            .video__site__rows
                    +video("kosis","국가 통계 포털 사이트",kosis)
                    +video("kriss","무료 논문 사이트",kriss)
                    +video("naverfont","네이버 무료 폰트",naverfont)
            .video__site__rows
                    +video("ncs","저작권 없는 사운드 많은 채널",ncs)
                    +video("noonnu","다양하고 베이직한 폰트가 많은 사이트",noonnu)
                    +video("openoffice","워드,P.P,엑셀 프로그램이 없을 때 사용하는 사이트",openoffice)
            .video__site__rows
                    +video("pexels","빈티지한 사진과 인물 사진이 많은 사이트",pexels)
                    +video("pinterest","디자인 사이트",pinterest)
                    +video("pixabay","무료 이미지 설치 사이트",pixabay)
            .video__site__rows
                    +video("pixler","웹에서 포토샵처럼 사용 가능한 사이트",pixler)
                    +video("pptmagazine","무료 피피티 템플릿 6만개 이상 보유 사이트",pptmagazine)
                    +video("pptmoa","고품질 피피티 템플릿 사이트",pptmoa)
            .video__site__rows
                    +video("removebg","이미지 배경 자동 제거 사이트",removebg)
                    +video("riss","학위논문, 강의자료, 연구자료 등 무료 열람 사이트",riss)
                    +video("rwdb","디자인 및 인터렉션 무료 소스 공유 사이트",rwdb)
            .video__site__rows
                    +video("sbblog","피피티 꿀팁, 색상별 피피티 등이 있는 새별님 블로그",sbblog)
                    +video("showeet","적지만 퀄리티 좋은 템플릿 사이트",showeet)
                    +video("slideshare","슬라이드 쉐어 무료 사이트",slideshare)
            .video__site__rows
                    +video("ted","아이디어가 필요할 때 들어가면 좋은 사이트",ted)
                    +video("uigradients","그라데이션 배합 사이트",uigradients)
                    +video("youtubeaudio","다양한 무료 음악과 음향 효과 설치 사이트",youtubeaudio)