include ../common/mixin
include ../common/variable

section.video
    .video__container
        +sectionTitle("video","Video","Take a variety of useful information!")
        .video__site
            .video__site__rows
                    +video("flaticon","무료 아이콘 설치 사이트",flaticon)
                    +video("pxtorem","px to rem 계산해주는 사이트",pxtorem)
                    +video("unsplash","무료 이미지 설치 사이트",unsplash)
            .video__site__rows
                    +video("flaticon","무료 아이콘 설치 사이트",flaticon)
                    +video("pxtorem","px to rem 계산해주는 사이트",pxtorem)
                    +video("unsplash","무료 이미지 설치 사이트",unsplash)
            .video__site__rows
                    +video("flaticon","무료 아이콘 설치 사이트",flaticon)
                    +video("pxtorem","px to rem 계산해주는 사이트",pxtorem)
                    +video("unsplash","무료 이미지 설치 사이트",unsplash)
            .video__site__rows
                    +video("flaticon","무료 아이콘 설치 사이트",flaticon)
                    +video("pxtorem","px to rem 계산해주는 사이트",pxtorem)
                    +video("unsplash","무료 이미지 설치 사이트",unsplash)
            .video__site__rows
                    +video("flaticon","무료 아이콘 설치 사이트",flaticon)
                    +video("pxtorem","px to rem 계산해주는 사이트",pxtorem)
                    +video("unsplash","무료 이미지 설치 사이트",unsplash)
            .video__site__rows
                    +video("flaticon","무료 아이콘 설치 사이트",flaticon)
                    +video("pxtorem","px to rem 계산해주는 사이트",pxtorem)
                    +video("unsplash","무료 이미지 설치 사이트",unsplash)