aside#side
    h1#logo
        a(href="./index.html")
            img(src="./images/logo/logo.png", alt="로고")
    nav#categorys
        ul.categorys__list
            li.categorys__list__title 개발
                ul.categorys__list__item
                    li
                        a(href="#") Study
                    li
                        a(href="#") Community
                    li
                        a(href="#") Simulating
                    li
                        a(href="#") Bolg
                    li
                        a(href="#") Tip
                    li
                        a(href="#") Etc
        ul.categorys__list
            li.categorys__list__title 디자인
                ul.categorys__list__item
                    li
                        a(href="#") Image
                    li
                        a(href="#") Color
                    li
                        a(href="#") Icon
                    li
                        a(href="#") Font
                    li
                        a(href="#") Tip
                    li
                        a(href="#") Etc