aside#menu
    h1.menu-logo
        a(href="/")
            img(src="./images/logo/logo.png", alt="logo")
    #category
        ul.category__list
            li.category__list_title 개발
                ul.category__sublist
                    li.category__item
                        button#devStudyBtn.category__item--btn(type="button") study
                    li.category__item
                        button#devCommunityBtn.category__item--btn(type="button") community
                    li.category__item
                        button#devSimulationBtn.category__item--btn(type="button") simulation
                    li.category__item
                        button#devBlogBtn.category__item--btn(type="button") blog
                    li.category__item
                        button#devTipBtn.category__item--btn(type="button") tip
                    li.category__item
                        button#devEtcBtn.category__item--btn(type="button") etc
            li.category__list_title 디자인
                ul.category__sublist
                    li.category__item
                        button#designImageBtn.category__item--btn(type="button") image
                    li.category__item
                        button#designIconBtn.category__item--btn(type="button") icon
                    li.category__item
                        button#designColorBtn.category__item--btn(type="button") color
                    li.category__item
                        button#designFontBtn.category__item--btn(type="button") font
                    li.category__item
                        button#designTipBtn.category__item--btn(type="button") tip
                    li.category__item
                        button#designEtcBtn.category__item--btn(type="button") etc
            li.category__list_title 그 외
                ul.category__sublist
                    li.category__item
                        button#etcPptBtn.category__item--btn(type="button") ppt
                    li.category__item
                        button#etcMusicBtn.category__item--btn(type="button") music
                    li.category__item
                        button#etcTipBtn.category__item--btn(type="button") tip