include ../common/mixin
include ../common/variable

section.contact
    .contact__title
        .contact__title__container
            i
                img.contact__icon(src="./images/icon/lens.png", alt="lens-icon")
            p Make a Request
                span Now.
            small If you have any problems with adding posts, errors, etc., please contact us.
    .contact__content
        form(
            name="contact"
            method="POST"
        )
            .contact__content__row
                select#select-kind(name="kind" disabled)
                    option(value="Video") Video
                    option(value="Inquiry") Inquiry
                    option(value="Errors") Errors
                    option(value="Other") Other
            .contact__content__column
                input(type="text" placeholder="name" disabled)
                input(type="text" placeholder="email" disabled)
            .contact__content__row
                textarea#textarea-text(name="text", cols="50", rows="10" placeholder="text" disabled)
            .contact__content__row
                button#submit--btn(type="button" name="contact-button")
                    span send