include ../common/mixin
include ../common/variable

footer.footer
    .footer__container
        p.footer__copy Copyright © 2020 LeeSeungyeol. All right reserved.
        h1.footer__logo
            img(src="../images/logo/logo.png", alt="marudepth-logo")