include ../common/mixin
include ../common/variable

header#header
    nav#snb-sns
        ul
            li
                a(href="#" target="_blank")
                    i
                        img(src="./images/icon/sns/github-icon.png", alt="github-icon")
            li
                a(href="#" target="_blank")
                    i
                        img(src="./images/icon/sns/kakaotalk-icon.png", alt="kakaotalk-icon")
            li
                a(href="#" target="_blank")
                    i
                        img(src="./images/icon/sns/email-icon.png", alt="email-icon")
            li
                a(href="#" target="_blank")
                    i
                        img(src="./images/icon/sns/instagram-icon.png", alt="instagram-icon")
            li
                a(href="#" target="_blank")
                    i
                        img(src="./images/icon/sns/facebook-icon.png", alt="facebook-icon")
    #header-content
        h2.header-logo
            img(src="./images/logo/logo-text.png", alt="logo-text-img")
        nav#gnb
            ul
                li
                    a(href="#") About
                li
                    a(href="#") Update
                li
                    a(href="#") Contact
                li
                    a(href="#") FAQ