include ../common/mixin
include ../common/variable

header#header
    nav#snb-sns
        ul
            li
                a(href="#" target="_blank")
                    i
                        img(src="./images/icon/sns/github-icon.png", alt="github-icon")
            li
                a(href="#" target="_blank")
                    i
                        img(src="./images/icon/sns/kakaotalk-icon.png", alt="kakaotalk-icon")
            li
                a(href="#" target="_blank")
                    i
                        img(src="./images/icon/sns/email-icon.png", alt="email-icon")
            li
                a(href="#" target="_blank")
                    i
                        img(src="./images/icon/sns/instagram-icon.png", alt="instagram-icon")
            li
                a(href="#" target="_blank")
                    i
                        img(src="./images/icon/sns/facebook-icon.png", alt="facebook-icon")
    #header-content
        h1.header-logo
            img(src="./images/logo/logo-text.png", alt="logo-text-img")
        nav#gnb
            ul
                li
                    a(href="./about.html") About
                li
                    a(href="./update.html") Update
                li
                    a(href="mailto:marudev4905@gmail.com") Contact
                li
                    a(href="./faq.html") FAQ