include ../common/mixin
include ../common/variable

header#header
    nav#snb-sns
        ul
            li
                a(href="https://github.com/maru-dev4905" target="_blank")
                    i
                        img(src="./images/icon/sns/github-icon.png", alt="github-icon")
            li
                a(href="https://open.kakao.com/o/sUd0YvMb" target="_blank")
                    i
                        img(src="./images/icon/sns/kakaotalk-icon.png", alt="kakaotalk-icon")
            li
                a(href="mailto:marudev4905@gmail.com" target="_blank")
                    i
                        img(src="./images/icon/sns/email-icon.png", alt="email-icon")
            li
                a(href="https://www.instagram.com/maru_dev49/?hl=ko" target="_blank")
                    i
                        img(src="./images/icon/sns/instagram-icon.png", alt="instagram-icon")
            li
                a(href="https://www.facebook.com/profile.php?id=100016921872562" target="_blank")
                    i
                        img(src="./images/icon/sns/facebook-icon.png", alt="facebook-icon")
    #header-content
        h2.header-logo
            img(src="./images/logo/logo-text.png", alt="logo-text-img")
        nav#gnb
            ul
                li
                    a(href="./about.html") About
                li
                    a(href="./update.html") Update
                li
                    a(href="mailto:marudev4905@gmail.com") Contact
    #header-foot
        form.search-form.close(name="searchForm" action="search.html" method="GET")
            label.sr(for="search-input") 검색창
            input#search-input(type="text" placeholder="search ..." name="search")
            button(type="submit")
        button.search__open-btn(type="button")
            img(src="./images/icon/search.png", alt="search-icon")