section#site
    .site__container
        ul.site__rows
            li.site-item
                .site__img
                    a(href="#")
                        img.site--img(src="./images/common/thumbnail/flaticon-thumbnail.png", alt="사이트 이미지")
                .site__content
                    strong.site--title Flaticon
                    p.site--desc 무료 아이콘 설치 사이트
                        br
                        | 패키지 아이콘 뿐만 아니라 로그인 시 색상도 변경 가능! 
                        |  대신 영문으로만 검색 가능
                    a.site--link(href="#") Go to Site
                ul.site--tag
                    li #icon
                    li #free
                    li #design
                    li #아이콘
                    li #무료
                    li #디자인
            li.site-item
                .site__img
                    a(href="#")
                        img.site--img(src="./images/common/thumbnail/flaticon-thumbnail.png", alt="사이트 이미지")
                .site__content
                    strong.site--title Flaticon
                    p.site--desc 무료 아이콘 설치 사이트
                        br
                        | 패키지 아이콘 뿐만 아니라 로그인 시 색상도 변경 가능!
                        | 대신 영문으로만 검색 가능
                    a.site--link(href="#") Go to Site
                ul.site--tag
                    li #icon
                    li #free
                    li #design
                    li #아이콘
                    li #무료
                    li #디자인