section#update
    table
        caption
            h2 UPDATE
        thead
            tr.table_head
                th.table__number Number
                th.table__title Title
                th.table__date Date
        tbody
            tr.table_item
                td.table__number 1
                td.table__title MaruDepth 리뉴얼
                td.table__date 2020.09.16
            tr.table_item
                td.table__number 2
                td.table__title 타블렛, 모바일 지원!
                td.table__date 2020.09.17