include ../common/mixin
include ../common/variable

section.useful
    .useful__container
        span.bgBar
        .useful__summary
            +summaryCard("../images/icon/design.png",        "design",       summaryDesignText)
            +summaryCard("../images/icon/programming.png",   "programming",  summaryProgrammingText)
            +summaryCard("../images/icon/useful.png",        "useful",       summaryUsefulText)
        +sectionTitle("useful","Summary","Sites frequently used by Maru!")
        .useful__site
            +video("flaticon","무료 아이콘 설치 사이트",flaticon, flaticonTag)
            +video("rempx","px to rem 계산해주는 사이트",rempx, rempxTag)
            +video("unsplash","무료 이미지 설치 사이트",unsplash, unsplashTag)
            
    span.bgText summary