@import "../common/mixin";
@import "../common/variable";
@import "../common/animation";
@import "../components/button";

.banner{
    @include image($url:"../images/main/bg.jpg",$pos:top 20px,$size:cover,$rep:no-repeat);
    @include flex($jusCon:center,$aliItem:flex-end);
    @include position($pos:fixed,$l:0,$t:0,$z:91);
    width: 100vw;
    height: 100vh;
    .banner__container{
        @extend %bannerContainer;
    }
}
.banner__content.fade{
    @include fade($kind:"fade-up");
    position: relative;
    animation-delay:1.2s;
}
.banner__content{
    @include responsive("tablet-l"){
        grid-column: 1/6;   
        height: 55%;
    }
    @include responsive("tablet"){
        grid-column: 1/5;
    }
    @include flex($dir:column,$jusCon:space-around,$aliSelf:center);
    @include border($radius:10px,$shadow:15px 30px 30px $opBlack-5);
    grid-column: 1/5;
    padding: 10%;
    background-color: $white-1;
    height: 50%;
    opacity: 0;
    color: $black;
    h2{
        @include font($size:30px,$letter:2px,$transform:uppercase,$weight:bold,$family:'Noto Sans');
    }
    p{
        @include responsive("tablet-l"){
            line-height: 20px;
            font-size: 14px;
        }
        @include font($size:16px,$height:26px,$break:keep-all,$weight:400);
    }
}