#category--open-btn{
    @include image(
        $url: "../images/icon/arrow-white.png",
        $size: 50%,
        $pos: center,
        $rep: no-repeat
    );
    width: 50px;
    height: 70px;
    background-color: $blue;
    position: fixed;
    top: 100px;
    left: 0;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s;

    @include responsive("iphone-l"){
        width: 30px;
        height: 50px;
        top: 150px;
    }
}
#category--open-btn.open{
    left: 250px;
    @include responsive("tablet"){
        left: 150px;
    }
}
#category--open-btn.close{
    left: 0;
}

aside#menu{
    position: fixed;
    left: -250px;
    top: 0;
    bottom: 0;
    z-index: 100;
    width: 250px;
    background-color: $blue;
    padding: 30px;
    min-height: 100vh;
    overflow-y: scroll;
    transition: 0.2s;

    @include responsive("tablet"){
        left: -150px;
        width: 150px;
        padding: 15px;
    }

    h1.menu-logo a{
        display: block;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
    
    &::-webkit-scrollbar{
        display: none;
    }
}
aside#menu.open{
    left: 0;
}
aside#menu.close{
    left: -250px;
}
#category{
    margin-top: 80px;
    
    li.category__list_title{
        @include font(
            $size:20px,
            $color:$white,
            $weight:600,
            $family:"Noto Sans KR"
        );
        margin-bottom: 30px;
    }
    ul.category__sublist{
        padding: 10px;

        
        li.category__item{
            button{
                @include font(
                    $size: 16px,
                    $color: rgba($color: $white, $alpha:0.6),
                    $weight: 400,
                    $family: "Roboto",
                    $align:left
                );
                width: 100%;
                padding: 2px 0;
                transition: 0.2s;
            }  
            &:hover button{
                color: rgba($color: $white, $alpha: 1.0);
                text-shadow: 0px 0px 10px $black;
                transform: translateX(5px);
            }
        } 
    }
}