@import "../common/mixin";
@import "../common/variable";
@import "../components/button";
@import "../components/input";

.contact{
    @include responsive("tablet-l"){
        @include flex($dir:column);
        height: auto;
    }
    @include flex();
    width: 100vw;
    height: calc(100vh - 120px);
    padding-top: 100px;
}
.contact__title{
    @include responsive("tablet-l"){
        width: 100%;
        background-size: cover;
        background-position: center center;
    }
    @include image($url:"../images/common/contact-img.png",$size:contain,$pos:center 220px,$rep:no-repeat);
    @include flex($jusCon:center,$aliItem:center);
    width: 50%;
    height: 100%;
    background-color: $purple;
    padding: 50px 0;
    .contact__title__container{
        @include flex($dir:column,$jusCon:center);
        width: 70%;
        color: $white-1;
        img{
            width: 64px;
            margin-bottom: 20px;
        }
        p{
            @include flex($dir:column);
            @include font($size:26px,$color:$white-1,$letter:1px,$family:SCD5);
        }
        span{
            @include font($size:3.875rem,$family:SCD8);
            margin-top: 20px;
        }
        small{
            @include font($size:14px,$letter:1px,$height:20px);
            margin-top: 20px;
        }
    }
}
.contact__content{
    @include responsive("tablet-l"){
        width: 100%;
    }
    @include flex($jusCon:center,$aliItem:center);
    width: 50%;
    height: 100%;
    background-color: $lightPurple;
    padding: 50px 0;
    form{
        @include flex($dir:column,$jusCon:center);
        width: 70%;
        .contact__contetn__row{
            width: 100%;
        }
        .contact__content__column{
            @include flex($dir:row,$jusCon:space-between,$aliItem:center);
        }
        select, textarea{
            @include font($size:16px,$family:SCD4,$color:$gray);
            @include border($border:none,$radius:5px,$shadow:2px 2px 1px $opBlack-1);
            transition: 0.3s;
            background-color: $white-1;
            &:focus{
                outline: none !important;
                color: $purple;
                box-shadow: 2px 2px 1px $opPurple-3;
            }
        }
        textarea{
            @include responsive("iphone"){
                min-width: auto;
            }
            padding: 20px;
            width: 100%;
            max-width: 100%;
            min-width: 300px;
            min-height: 100px;
        }
        input{
            @include input($kind:"form",$width:48%,$height:50px, $padding: 0 20px);
            margin-bottom: 20px;
            background-color: $white-1;
        }
        select{
            width: 100%;
            height: 50px;
            margin-bottom: 20px;
            padding: 0 20px;
            background-color: $white-1;
            appearance: none;
        }
        button{
            @include button($kind:"defaultBtn",$width:100%,$height:50px,$bgC:$black);
            position: relative;
            margin-top: 20px;
            span{
                @include position($pos:absolute,$z:10);
                @include font($size:16px,$letter:1.1px,$transform:uppercase,$family:SCD5);
            }
        }
    }
}