#footer{
    background-color: $gray;
    padding: 22px 0;
    margin-top: 60px;
    p{
        @include font(
            $color: $white,
            $weight: 400,
            $align: center,
            $family: 'Roboto'
        );
    }
}