@import "../common/mixin";
@import "../common/variable";
@import "../common/animation";

#menu--toggle.show {
    right: 20px;
}
#menu--toggle.hide {
    right: -100px;
}
#menu--toggle {
    @include border($radius:50%, $shadow:0px 0 5px $opBlack-4);
    @include position($pos:fixed,$r:-100px,$b:-25px,$z:200);
    width: 70px;
    height: 70px;
    margin: 50px auto;
    cursor: pointer;
    transition: 0.625s ease-in-out;
    span {
        display: block;
        background-color: $black;
        transition: 0.3s ease-in-out;
        border-radius: 2px;
    }
    #hamburger {
        @include position($pos:absolute,$t:0,$l:0);
        @include flex($dir:column,$jusCon:center,$aliItem:flex-start);
        width: 100%;
        height: 100%;
        background-color: $white-2;
        border-radius: 50%;
        transition: 1s ease-in-out;

        span {
            @include position($pos:relative,$l:25%);
            width: 50%;
            height: 4px;
            margin: 3px 0;
            @for $i from 1 to 4 {
                &:nth-child(#{$i}) {
                    transition-delay: 0.5s + $i / 10;
                }
            }
        }
    }
    #cross {
        @include position($pos:absolute,$t:0,$l:0);
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
        border-radius: 50%;
        span {
            @include position($pos:absolute,$t:50%,$l:50%);
            transform: translate(-50%,-50%);
            background-color: $white-2;

            &:nth-child(1) {
                height: 0;
                width: 4px;
                transition-delay: 0s;
            }
            &:nth-child(2) {
                width: 0;
                height: 4px;
                transition-delay: 0.25s;
            }
        }
    }
}
#menu--toggle.open {
    #hamburger {
        background-color: $purple;
        span {
            width: 0;
            @for $i from 1 to 4 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 0.1s;
                }
            }
        }
    }
    #cross {
        span {
            &:nth-child(1) {
                height: 50%;
                transition-delay: 0.625s;
            }
            &:nth-child(2) {
                width: 50%;
                transition-delay: 0.375s;
            }
        }
    }
}

.hamburger__content.open {
    @include menu-bg-show;
    background-color: #e7e7e7;
    z-index: 100;
}

.hamburger__content.hide{
    @include menu-bg-hide;
    background-color: transparent;
    z-index: 90;
}

.hamburger__content {
    @include position($pos:fixed,$t:0,$l:0);
    width: 100vw;
    height: 100vh;
    transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    [class*="menu__bg"] {
        @include position($pos:absolute,$t:0,$l:0);
        transform: skew(-45deg);
    }
    .hamburger__nav{
        padding: 70px 30px;
        .hamburger__nav__item.fade{
            @include fade($kind:"fade-left");
            position: relative;
            @for $i from 1 to $menuNum {
                &:nth-child(#{$i}){
                    animation-delay: $i * 0.20s;
                }
            }
        }
        .hamburger__nav__item{
            opacity: 0;
        }
        a{
            @include font($size:28px,$letter:2px,$color:$white-2,$family:SCD6);
            display: inline-block;
            padding: 40px 0;
            position: relative;
            transition: 0.3s;
            &:first-child{
                padding-top: 0;
            }
            &::before{
                @include position($pos:absolute,$b:10px,$l:0);
                content: "";
                display: block;
                width: 0;
                height: 1.5px;
                transition: 0.3s;
                background-color: $white-2;
            }
            &:hover{
                opacity: 0.5;
                &::before{
                    width: 100%;
                }
            }
        }
    }
    .hamburger__sns.fade{
        @include fade($kind:"fade-right");
        animation-delay: 0.25s;
    }
    .hamburger__sns{
        @include flex($dir:row,$jusCon:center,$aliItem:center);
        @include position($pos:absolute,$t:0,$r:0);
        opacity: 0;
        margin: 5px 5px 0 0 ;
        a{
            display: block;
            padding: 10px;
            opacity: 0.3;
            transition: 0.3s;
            
            &:hover{
                opacity: 1;
            }
        }
        img{
            width: 30px;
            height: 30px;
        }
    }
}
