header#header{
    @include grid($tCol:repeat(12,1fr),$cGap:30px);
    width: 100%;
}

// nav sns
nav#snb-sns{
    grid-column: 1/-1;
    background-color: $black;
    padding: 10px 0;

    ul{
        @include flex($jusCon:flex-end);
        margin-right: 80px;
    
        a{
            padding: 0 12px;
            opacity: 0.5;
            transition: 0.2s;
        
            &:hover{
                opacity: 1;
            }
        }

        img{
            width: 20px;
        }
    }
}

#header-content{
    @include flex($jusCon:space-between,$aliItem:center);
    grid-column: 1/-1;
    padding: 25px 20px;
    border-bottom: 1px solid #e3e3e3;

    h1.header-logo img{
        width: 456px;
    }

    nav#gnb ul{
        display: flex;
        
        li{
            margin-right: 50px;
        }

        a{
            @include font($weight: 800, $family: 'Nanum Gothic' sans-serif);
            display: block;
            padding: 15px;
            transition: 0.2s;

            &:hover{
                color: $gray;
            }
        }
    }
}