header#header{
    @include grid($tCol:repeat(12,1fr),$cGap:30px);
    width: 100%;
    position: relative;
}

// nav sns
nav#snb-sns{
    grid-column: 1/-1;
    background-color: $black;
    padding: 10px 0;

    ul{
        @include flex($jusCon:flex-end);
        margin-right: 80px;

        @include responsive("iphone-l"){
            margin-right: 10px;
        }
        a{
            padding: 0 12px;
            opacity: 0.5;
            transition: 0.2s;
        
            &:hover{
                opacity: 1;
            }
        }

        img{
            width: 20px;
        }
    }
}

#header-content{
    @include flex($jusCon:space-between,$aliItem:center);
    @include position($pos:relative,$z:15);
    grid-column: 1/-1;
    padding: 25px 50px;
    border-bottom: 1px solid #e3e3e3;
    background-color: #fff;

    @include responsive("pc-1"){
        flex-direction: column;
        padding: 10px 50px;
    }


    h2.header-logo img{
        width: 456px;
        @include responsive("iphone"){
            width: 356px;
        }
    }

    nav#gnb ul{
        display: flex;
        
        li{
            margin-right: 50px;
            
            &:last-child{
                margin-right: 0;
            }
        }

        a{
            @include font($weight: 800, $family: 'Nanum Gothic' sans-serif);
            display: block;
            padding: 15px;
            transition: 0.2s;

            &:hover{
                color: $gray;
            }
        }
    }
}

#header-foot{
    grid-column: 1/-1;
    padding: 0 50px;

    form.search-form{
        width: 700px;
        height: 100px;
        transition: 0.3s;

        input{
            @include font(
                $size:40px,
                $color:$black-1,
                $weight:400,
                $family: "Noto Sans KR"
            );
            background-color: $black;
            width: 100%;
            height: 100%;
            border: none;
            padding: 0 20px;
        }
        @include responsive("pc-1"){
            width: 500px;
        }
        @include responsive("iphone-l"){
            width: 320px;
        }
        @include responsive("iphone"){
            width: 250px;
            height: 75px;
            input{
                @include font(
                    $size:26px,
                    $color:$black-1,
                    $weight:400,
                    $family: "Noto Sans KR"
                );
            }
        }

    }
    form.search-form.open{
        @include position($pos:absolute,$t:141px);
    }

    form.search-form.close{
        @include position($pos:absolute,$t:40px);
    }
    button.search__open-btn{
        position: absolute;
        right: 60px;
        margin-top: 10px;

        @include responsive("iphone-l"){
            right: 10px;
        }

        img{
            width: 32px;
        }
    }
}