@import "../common/mixin";
@import "../common/variable";
@import "../common/animation";

.scroll__content.show{
    right: 20px;
}
.scroll__content.hide{
    right: -100px;
}
.scroll__content{
    @include border($radius:50%, $shadow:0px 0 5px $opBlack-4);
    @include position($pos:fixed, $r:20px, $b:75px, $z:100);
    @include flex($jusCon:center,$aliItem:Center);
    background-color: $purple;
    width: 70px;
    height: 70px;
    margin: 50px auto;
    cursor: pointer;
    transition: 0.625s ease-in-out;
    img{
        width: 32px;
        transform: rotate(-90deg);
    }
}