@import "../components/siteCard";

#site{
    padding: 60px 50px;
    min-height: calc(100vh - 141px);
    .site__container{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-column-gap: 30px;
    }
}