@import "../common/mixin";
@import "../common/variable";
@import "../components/button";

.trend{
    @include position($pos:relative,$z:15);
    width: 100vw;
    height: auto;
    outline: 1px solid $white-2;
    outline-offset: -15px;
    @include image($url:"../images/common/trend-bg.jpg",$size:cover,$rep:no-repeat,$pos:center);

    .trend__container{
        @extend %trendContainer;
    }
}
.trend__title{
    @include responsive("tablet"){
        grid-column: 1/-1;
        margin-bottom: 35px;
    }
    @include flex($dir:column,$jusCon:center);
    grid-column: 1/8;
    font-family: TmonBold;
    height: 100%;
    p{
        @include font($size:2rem,$letter:1px,$color:$white-2);
        text-shadow: 5px 5px 5px $opBlack-5;
        margin-bottom: 32px;
        span{
            margin-right: 12px;
            color: $purple;
        }
    }
    strong{
        @include font($size:8.25rem,$letter:10px,$color:$white-2);
        text-shadow: 5px 5px 5px $opBlack-5;
    }
}
.trend__content{
    @include responsive("tablet"){
        grid-column: 1/-1;
    }
    @include flex($dir:column,$jusCon:center,$aliItem:center);
    grid-column: 8/-1;
    .trend__img{
        @include image($url:"./images/common/trend.png",$pos:center,$size:cover,$rep:no-repeat);
        @include border($radius:15px, $shadow:5px 5px 10px $opBlack-5);
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
    }
}