@import "../common/mixin";
@import "../common/variable";
@import "../common/animation";
@import "../components/button";
@import "../components/title";
@import "../components/videoCard";

.video{
    width: 100vw;
    height: auto;
    position: relative;
    .video__container{
        @extend %videoContainer;
    }
    .video__title.fade{
        @include fade($kind:"fade-in");
        animation-delay: 0.25s;
    }
    .video__title{
        @include title;
        opacity: 0;
    }
    .video__site{
        @include position($pos:relative);
        @include videoCard;
        @include flex($jusCon:space-around,$aliItem:center,$wrap:wrap);
        grid-column: 1/-1;
        width: 100%;
    }
    .video__error{
        @include flex($jusCon:center,$aliItem:center);
        display: none;
        width: 100%;
        img{
            width: 100%;
            max-width: 420px;
        }
    }
    input{
        @include responsive("iphone-l"){
            @include input($kind:"search",$width:100%,$height:50px,$padding:0 20px);
        }
        @include input($kind:"search",$width:80%,$height:50px,$padding:0 40px);
        margin-bottom: 50px;
    }
}
.search__text{
    @include title;
    @include font($size:2.5rem,$letter:1.2px, $family:TmonBold);
    margin-bottom: 30px;
}