<!DOCTYPE html>
html(lang="en")
    include ./views/partials/head
    body
        include ./views/import/header
        main
            include ./views/import/banner
            include ./views/import/useful
            include ./views/import/trend
            include ./views/import/kind
            include ./views/import/contact
        include ./views/import/footer
        include ./views/partials/script