+video("flaticon"
    ,"무료 아이콘 설치 사이트"
    ,flaticon
    ,flaticonTag)
+video("rempx"
    ,"px to rem 계산해주는 사이트"
    ,rempx
    ,rempxTag)
+video("unsplash"
    ,"무료 이미지 설치 사이트"
    ,unsplash
    ,unsplashTag)
+video("adobecolor"
    ,"어도비 무료 색상 배합 사이트"
    ,adobecolor
    ,adobecolorTag)
+video("adstore"
    ,"심플, 감각적인 피피티가 많은 사이트"
    ,adstore
    ,adstoreTag)
+video("asiafont"
    ,"깔끔한 폰트를 원하는 사람들에게 강력 추천"
    ,asiafont
    ,asiafontTag)
+video("blend"
    ,"그라데이션을 만들어주는 사이트"
    ,blend
    ,blendTag)
+video("bm"
    ,"배달의 민족 폰트 사이트"
    ,bm
    ,bmTag)
+video("canva"
    ,"웹에서 피피티를 제작 가능한 사이트"
    ,canva
    ,canvaTag)
+video("colorlover"
    ,"색상 조합 사이트"
    ,colorlover
    ,colorloverTag)
+video("dafont"
    ,"무료 폰트 설치 사이트"
    ,dafont
    ,dafontTag)
+video("fontspace"
    ,"약 30000종 이상의 영문 폰트 보유 사이트"
    ,fontspace
    ,fontspaceTag)
+video("foodpic"
    ,"음식 보정 사이트"
    ,foodpic
    ,foodpicTag)
+video("gallup"
    ,"설문조사 확인 사이트"
    ,gallup
    ,gallupTag)
+video("gratisography"
    ,"피피티에 포인트 주기 좋은 사진이 많은 사이트"
    ,gratisography
    ,gratisographyTag)
+video("grdnrush"
    ,"브이로그에 사용하기 좋은 음악이 많은 채널"
    ,grdnrush
    ,grdnrushTag)
+video("hatchful"
    ,"무료 로고 만들기 사이트"
    ,hatchful
    ,hatchfulTag)
+video("iconmonstr"
    ,"무료 아이콘 설치 사이트"
    ,iconmonstr
    ,iconmonstrTag)
+video("kosis"
    ,"국가 통계 포털 사이트"
    ,kosis
    ,kosisTag)
+video("kriss"
    ,"무료 논문 사이트"
    ,kriss
    ,krissTag)
+video("naverfont"
    ,"네이버 무료 폰트"
    ,naverfont
    ,naverfontTag)
+video("ncs"
    ,"저작권 없는 사운드 많은 채널"
    ,ncs
    ,ncsTag)
+video("noonnu"
    ,"다양하고 베이직한 폰트가 많은 사이트"
    ,noonnu
    ,noonnuTag)
+video("openoffice"
    ,"워드,P.P,엑셀 프로그램이 없을 때 사용하는 사이트"
    ,openoffice
    ,openofficeTag)
+video("pexels"
    ,"빈티지한 사진과 인물 사진이 많은 사이트"
    ,pexels
    ,pexelsTag)
+video("pinterest"
    ,"디자인 사이트"
    ,pinterest
    ,pinterestTag)
+video("pixabay"
    ,"무료 이미지 설치 사이트"
    ,pixabay
    ,pixabayTag)
+video("pixler"
    ,"웹에서 포토샵처럼 사용 가능한 사이트"
    ,pixler
    ,pixlerTag)
+video("pptmagazine"
    ,"무료 피피티 템플릿 6만개 이상 보유 사이트"
    ,pptmagazine
    ,pptmagazineTag)
+video("pptmoa"
    ,"고품질 피피티 템플릿 사이트"
    ,pptmoa
    ,pptmoaTag)
+video("removebg"
    ,"이미지 배경 자동 제거 사이트"
    ,removebg
    ,removebgTag)
+video("riss"
    ,"학위논문, 강의자료, 연구자료 등 무료 열람 사이트"
    ,riss
    ,rissTag)
+video("rwdb"
    ,"디자인 및 인터렉션 무료 소스 공유 사이트"
    ,rwdb
    ,rwdbTag)
+video("sbblog"
    ,"피피티 꿀팁, 색상별 피피티 등이 있는 새별님 블로그"
    ,sbblog
    ,sbblogTag)
+video("showeet"
    ,"적지만 퀄리티 좋은 템플릿 사이트"
    ,showeet
    ,showeetTag)
+video("slideshare"
    ,"슬라이드 쉐어 무료 사이트"
    ,slideshare
    ,slideshareTag)
+video("ted"
    ,"아이디어가 필요할 때 들어가면 좋은 사이트"
    ,ted
    ,tedTag)
+video("uigradients"
    ,"그라데이션 배합 사이트"
    ,uigradients
    ,uigradientsTag)
+video("youtubeaudio"
    ,"다양한 무료 음악과 음향 효과 설치 사이트"
    ,youtubeaudio
    ,youtubeaudioTag)
+video("w3s"
    ,"html5, css3, js, jquery를 공부할 수 있는 사이트"
    ,w3s
    ,w3sTag)
+video("csstricks"
    ,"css3 tricks 들을 찾아볼 수 있는 사이트"
    ,csstricks
    ,csstricksTag)
+video("javascriptinfo"
    ,"modern javascript를 공부할 수 있는 사이트"
    ,javascriptinfo
    ,javascriptinfoTag)
+video("jakeseoblog"
    ,"자바스크립트 개발자라면 꼭 알아야할 33가지"
    ,jakeseoblog
    ,jakeseoblogTag)
+video("bem"
    ,"bem 방법론 사이트"
    ,bem
    ,bemTag)
+video("heropyblog"
    ,"sass(scss) 완벽 공략 블로그"
    ,heropyblog
    ,heropyblogTag)
+video("opentutorials"
    ,"생활코딩의 코딩 강의 사이트"
    ,opentutorials
    ,opentutorialsTag)
+video("queryTool"
    ,"데이터베이스 시뮬레이팅 사이트"
    ,queryTool
    ,queryToolTag)
+video("nomadcoders"
    ,"니콜라스 쌤의 프론트엔드 완벽 강의 사이트"
    ,nomadcoders
    ,nomadcodersTag)
+video("programmers"
    ,"개발자 채용, 코딩 테스트 등 개발자라면 알아야할 사이트"
    ,programmers
    ,programmersTag)
+video("iconmoon"
    ,"아이콘을 무료로 만들 수 있는 사이트"
    ,iconmoon
    ,iconmoonTag)
+video("soen"
    ,"C를 공부할 수 있는 커뮤니티 사이트"
    ,soen
    ,soenTag)
+video("dbsarang"
    ,"db를 사랑하는 커뮤니티 사이트"
    ,dbsarang
    ,dbsarangTag)
+video("gurubee"
    ,"db 커뮤니티 사이트"
    ,gurubee
    ,gurubeeTag)
+video("phpschool"
    ,"php를 공부할 수 있는 사이트"
    ,phpschool
    ,phpschoolTag)
+video("jsonfomatter"
    ,"json을 시뮬레이팅할 수 있는 사이트"
    ,jsonfomatter
    ,jsonfomatterTag)
+video("placeimg"
    ,"크기별로 이미지를 찾을 수 있는 사이트"
    ,placeimg
    ,placeimgTag)
+video("hangulthefron"
    ,"lorem처럼 한글을 무작위 텍스트로 만들어주는 사이트"
    ,hangulthefron
    ,hangulthefronTag)
+video("websiteplanet"
    ,"영문을 무작위 텍스트로 만들어주는 사이트"
    ,websiteplanet
    ,websiteplanetTag)
+video("codepen"
    ,"IDE가 없어도 웹에서 코딩을 할 수 있는 사이트"
    ,codepen
    ,codepenTag)
+video("entitycode"
    ,"html 특수문자 사이트"
    ,entitycode
    ,entitycodeTag)
+video("velopert"
    ,"velopert의 프론트엔드 강좌 사이트"
    ,velopert
    ,velopertTag)
+video("geeksforgeeks"
    ,"개발자 강좌 및 외국 커뮤니티 사이트"
    ,geeksforgeeks
    ,geeksforgeeks)